@import "../shared.scss";

.movieDetail {
    h2 {
        @extend %bottom-line;
    }
    text-align: left;
    padding: 1em;

    dl {
        display: flex;
        flex-wrap: wrap;
    }

    dt {
        width: 25%;
    }

    dd {
        margin-left: auto;
        width: 75%;
    }
}
