@import "./shared.scss";

.App {
    text-align: center;
}

h1 {
    color: $primary-color;
}

section.movies {
    @extend %page-layout;
}

.moviePage {
    @extend %page-layout;

    img {
        float: left;
        margin-right: 2em;
    }
}
